<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\user_microservices\.venv\Scripts\python.exe|C:\user_microservices\.venv\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="espresso_engine.main_cafe_server.app" />
  </appSettings>
</configuration>
